{% extends 'base.html' %}

{% block titulo %} Detalhes do Cliente {% endblock%}

{% block titulo_conteudo %} Detalhes do Cliente {% endblock %}



{% block conteudo %}


<p>
    <label>ID:</label>
    <span class="form-control">{{cliente.id}}<span>
</p>

<p>
    <label>Nome:</label>
    <span class="form-control">{{cliente.nome}}<span>
</p>

<p>
    <label>CPF:</label>
    <span class="cpf form-control">{{cliente.cpf}}<span>
</p>

<p>
    <label>Data de nascimento:</label>
    <span class="data form-control">{{cliente.datanasc}}<span>
</p>

<button onclick="location.href= '{% url 'cliente' %}'" class= "btn btn-secondary btn-sm">Cancelar</button>
<button onclick="location.href='{% url 'editar_cliente' cliente.id %}'" class= "btn btn-warning btn-sm">Editar</button>
<button onclick="location.href='{% url 'excluir_cliente' cliente.id %}'" class= "btn btn-danger btn-sm">Excluir</button>

{% endblock %}

