{% extends 'base.html' %}

{% block titulo %} Excluir Categoria {% endblock%}

{% block titulo_conteudo %} Excluir Categoria {% endblock %}



{% block conteudo %}

{% block botao %}

<p style="text-align: center; font-size: 24px; font-weight: bold;">
    Atenção!
</p>

<p style="text-align: center; fontsize: 24px">Essa é uma ação irreversível. Tem certeza que deseja excluir esta categoria?</p><br>


{% endblock %}

<table class="table table-bordered table-hover">

    <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nome</th>
            <th scope="col"> CPF</th>
            <th scope="col"> Data de nasc.</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td> {{cliente.id}}</td>
            <td> {{cliente.nome}}</td>
            <td> {{cliente.cpf}}</td>
            <td> {{cliente.datanasc}}</td>
        </tr>
    </tbody>
</table>

<button onclick="location.href= '{% url 'cliente' %}'" class= "btn btn-secondary">Cancelar</button>

<form action="{% url 'excluir_cliente' cliente.id %}" method="POST" style="display:inline;">
    {% csrf_token %}
    <button type="submit" class= "btn btn-danger">Excluir</button>
</form> 

{% comment %} <button onclick="if(confirm('Tem certeza que deseja excluir esta categoria?')) location.href='{% url 'excluir_categoria' categoria.id %}'"class="btn btn-danger">Excluir</button> {% endcomment %} 


{% endblock %}

