{% extends 'base.html' %}

{% block titulo %} Lista de Clientes {% endblock%}

{% block titulo_conteudo %} Lista de Clientes {% endblock %}



{% block conteudo %}

{% block botao %}

<button onClick="location.href ='{% url 'formulario_cliente' %}'" class = "btn btn-primary btn-sm" style= "margin-bottom: 15px" >Novo Cliente</button>
<button onClick="location.href ='{% url 'cliente' %}'" type="button" class="btn btn-primary btn-sm"  style= "margin-bottom: 15px">Recarregar</button>

{% endblock %}

<table class="table table-bordered table-hover" >

    <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nome</th>
            <th scope="col">CPF</th>
            <th scope="col">Data de nascimento</th>
            <th scope="col">Ações</th>
        </tr>
        
    </thead>

    <tbody id="tbody-cliente">
        {% for cliente in lista %}
            <tr style="vertical-align: middle">
            
                <td> {{cliente.id}}</td>
                <td> {{cliente.nome}}</td>
                <td> {{cliente.cpf}}</td>
                <td> {{cliente.datanascimento}}</td>
        
                <td>
                    <button onClick= "location.href = '{% url 'novo_pedido' cliente.id %}'" style="margin: 0px 0px 5px 0px" type="button" class="btn btn-primary btn-sm">Novo Pedido</button>
                    <button onClick= "location.href = '{% url 'detalhes_cliente' cliente.id %}'" style="margin: 0px 0px 5px 0px" class= "btn btn-info btn-sm">Detalhes</button>
                    <a href="{% url 'editar_cliente' cliente.id %}" style="margin: 0px 0px 5px 0px" class="btn btn-warning btn-sm">Editar</a>
                    <a href="{% url 'excluir_cliente' cliente.id %}" style="margin: 0px 0px 5px 0px" class="btn btn-danger btn-sm" 
            onclick="return confirm('Tem certeza que deseja remover este registro?');">Excluir</a>
                   
                </td>
            </tr>
        {% endfor %}
    </tbody>

</table>

{% endblock %}


