{% for item in lista %}
        <tr>
            <td> {{item.id}}</td>
            <td> {{item.nome}}</td>
            <td> {{item.cpf}}</td>
            <td> {{item.datanasc}}</td>
    
            <td>
                <button onclick="location.href='{% url 'detalhes_cliente' item.id %}'" class= "btn btn-info">Detalhes</button>
                <button onclick="location.href='{% url 'editar_cliente' item.id %}'" class= "btn btn-warning">Editar</button>
                <button onclick="location.href='{% url 'excluir_cliente' item.id %}'" class= "btn btn-danger">Excluir</button>
            </td>
        </tr>
{% endfor %}