{% extends 'base.html' %}

{% block titulo %} Detalhes da Categoria {% endblock%}

{% block titulo_conteudo %} Detalhes da Categoria {% endblock %}



{% block conteudo %}


<p>
    <label>ID:</label>
    <span class="form-control">{{categoria.id}}<span>
</p>

<p>
    <label>Nome:</label>
    <span class="form-control">{{categoria.nome}}<span>
</p>

<p>
    <label>Ordem:</label>
    <span class="form-control">{{categoria.ordem}}<span>
</p>

<button onclick="location.href= '{% url 'categoria' %}'" class= "btn btn-secondary btn-sm">Cancelar</button>
<button onclick="location.href='{% url 'editar_categoria' categoria.id %}'" class= "btn btn-warning btn-sm">Editar</button>
<a class="btn btn-danger btn-sm" href="{% url 'excluir_categoria' categoria.id %}" onclick="return confirm('Tem certeza que deseja remover este registro?');">Excluir</a>

{% endblock %}

