{% extends 'base.html' %}

{% block titulo %} Detalhes da Categoria {% endblock%}

{% block titulo_conteudo %} Detalhes da Categoria {% endblock %}



{% block conteudo %}


<p>
    <label>ID:</label>
    <span class="form-control">{{categoria.id}}<span>
</p>

<p>
    <label>Nome:</label>
    <span class="form-control">{{categoria.nome}}<span>
</p>

<p>
    <label>Ordem:</label>
    <span class="form-control">{{categoria.ordem}}<span>
</p>

<button onclick="window.history.back()" class= "btn btn-secondary">Cancelar</button>
<button onclick="location.href='{% url 'editar_categoria' categoria.id %}'" class= "btn btn-warning">Editar</button>
<button onclick="location.href='{% url 'excluir_categoria' categoria.id %}'" class= "btn btn-danger">Excluir</button>

{% endblock %}

