{% extends "base.html" %}

{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/nota_styles.css' %}">
{% endblock extra_css %}

{% block titulo_conteudo %} Nota Fiscal {% endblock titulo_conteudo %}

{% block conteudo %}
<div class="barrabotoes">
    <button onClick="location='{% url 'pedido' %}'" type="button" class="btn btn-primary btn-sm">Recarregar</button>
    <button id="exportButton" type="button" class="btn btn-secondary btn-sm">Baixar Nota Fiscal em PDF</button>
</div>




<style>
    .container {
        width: 100%;
        max-width: 800px;
        margin: 0 auto;
        font-family: Arial, sans-serif;
        border: 1px solid black;
    }
    .row_item {
        display: flex;
        border: 1px solid black;
        padding: 8px 0;
        margin-left: 5px;
        margin-right: 5px;
    }
    .row.header {
        font-weight: bold;
        background-color: #f2f2f2;
        padding: 5px;
        margin: 5px;
        border: 1px solid black;
        margin-bottom: 0px;
    }
    .cell {
        flex: 1;
        margin: 5px;
        padding: 8px;
        text-align: left;
    }
    .cell.codigo { flex: 0.5; }
    .cell.descricao { flex: 2.5; }
    .cell.qtd { flex: 0.5; }
    .cell.valor-unitario { flex: 1.5; }
    .cell.total { flex: 1.5; }
    .info {
        margin-top: 20px;
    }
    .info p {
        margin: 5px 0;
    }
    .border_div {
        border: 1px solid black;
        padding: 5px;
        margin: 5px;
    }
    .impostos {
        display: flex;
        border: 1px solid black;
        padding: 5px;
        margin: 5px;
        align-items: space-around;
    }
    .center {
        text-align: center;
        font-size: 18px;
        font-weight: bold;
    }
    .start_div {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: flex-start;
    }
    .end_div {
        display: flex;
        flex-direction: column;
        align-content: flex-end;
    }
</style>

<div class="container">
    <h1 class="center"><br>DANFE - Documento Auxiliar da Nota Fiscal Eletrônica</h1>

    <div class="border_div">
        <p><strong>CHAVE DE ACESSO:</strong> {{ pedido.chave_acesso }}</p>
    </div>

    <div class="border_div">
        <strong>Destinatário:</strong> {{ pedido.cliente }}<br>
        <strong>Data Nascimento:</strong> {{ pedido.cliente.datanascimento }}<br>
        <strong>CPF/CNPJ:</strong> {{ pedido.cliente.cpf_formatado }}<br>
    </div>

    <div class="border_div">
        <!-- Cabeçalho da Tabela -->
        <div class="row header">
            <div class="cell codigo">Código</div>
            <div class="cell descricao">Descrição</div>
            <div class="cell qtd">Qtd</div>
            <div class="cell valor-unitario">Valor Unitário</div>
            <div class="cell total">Total</div>
        </div>

        <!-- Laço para gerar os itens do pedido -->
        {% for item in pedido.itempedido_set.all %}
        <div class="row_item">
            <div class="cell codigo">{{ item.produto.id }}</div>
            <div class="cell descricao">{{ item.produto.nome }}</div>
            <div class="cell qtd">{{ item.qtde }}</div>
            <div class="cell valor-unitario">R$ {{ item.preco }}</div>
            <div class="cell total">R$ {{ item.subtotal }}</div>
        </div>
        {% endfor %}
    </div>

    <!-- Informações Adicionais -->
    <div class="impostos">
        <div class="start_div">
            <p><strong>ICMS..........:</strong> R$ {{pedido.icms}}</p>
            <p><strong>PIS..........:</strong> R$ {{pedido.pis}}</p>
        </div>

        <div class="end_div">
            <p><strong>IPI..........:</strong> R$ {{pedido.ipi}}</p>
            <p><strong>COFINS..........:</strong> R$ {{pedido.cofins}}</p>
        </div>
    </div>

    <div class="border_div">
        <span><strong>Total.......:</strong> R$ {{pedido.total}}</span><br>
        <span><strong>Impostos..:</strong> R$ {{pedido.impostos}}</span><br>
        <span><strong>Valor Final:</strong> R$ {{pedido.valor_final}}</span><br>
    </div>

    <p class="center">Recebemos os produtos constantes nesta nota fiscal.</p>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"></script>

<script>
    function exportToPDF() {
        // Seleciona o conteúdo que será exportado para PDF
        const element = document.querySelector('.container');

        // Configurações do PDF
        const options = {
            margin:       10,
            filename:     'nota_fiscal.pdf',
            image:        { type: 'jpeg', quality: 0.98 },
            html2canvas:  { scale: 2 },
            jsPDF:        { unit: 'mm', format: 'a4', orientation: 'portrait' }
        };

        // Gera o PDF
        html2pdf().from(element).set(options).save();
    }

    // Adiciona o evento ao botão de exportar PDF
    document.getElementById('exportButton').addEventListener('click', exportToPDF);
</script>
{% endblock conteudo %}
